*{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: cadetblue;
}

img{
    opacity: 0.6;
}

a{
    color: orange;
}

.btn {
    font-weight: bold;
    width: 20%;
    height: 40%;
    background-color: orange;
    color: black;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

div {
    display: block;
    align-items: center;
    align-content: center;
}

.btn:hover{
    background-color: cadetblue;
}
